
body{
  background-color: silver;

}

.card{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
              0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;

}


table{
  width: 100%;

}

thead{
  background-color: green;
  color: white;
}

.td {
  text-align: center; 
  background-color: green;

}

.align_text{
  text-align: center;

}

button{
  width: 120px;
  height: 60px;
  background-color: green;
  color: white;
}

.right{
  float: right;
}

.left{
  float: left;
}

.center{
  float: center;
}
