version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - db
    env_file:
      - .env
  db:
    image: postgres:13
    env_file:
      - .env
    ports:
      - "5432:5432"
