<html>
<head>

<style>
body{
  background-color: silver;

}

.input{
  background-color: green;
  color: white;
  width: 100%;
  height: 50px;

}

h3{
  box-shadow: inset 5px 10px 5px #55555555;
}

</style>

<script>


</script>

</head>
<body>

<center>

<button style="background-color: tomato;" onclick="window.open('{{ url_for('report3_open')}}', '')">سجل دفع الفواتير الشهري</button>
<br>
<h3>الفواتير</h3>

<table border=1>

<form action="{{ url_for('add_bills')}}" method ="POST">

<tr>
<td>

<select name="invoice_type">
   <option value="rent">الايجار</option>
   <option value="elect">الكهرباء</option>
   <option value="phote">الهاتف</option>
   <option value="internet">الانترنت</option>
   <option value="insurnce">هيئة التامينات</option>
   <option value="lmra">سوق العمل</option>
   <option value="cr">السجل التجاري</option>
   <option value="adv">اعلان</option>
   <option value="other">اخرى</option>
</select>
</td>
<th>نوع الفاتورة</th>
</tr><tr>
<td><input type="text" id="invoice_no" name="invoice_no" value=""></td>
<th>رقم الفاتورة</th>
</tr><tr>
<td><input type="text" id="description" name="description" value=""></td>
<th>الوصف</th>
</tr><tr>
<td><input type="number" id="amount" name="amount" value="0"></td>
<th>المبلغ</th>
</tr><tr>
<td><input type="datetime-local" id="date" name="date"></td>
<th>التاريخ</th>
</tr><tr>
<td><input type="text" id="add_from" name="add_from"></td>
<th>اضافة من</th>
</tr><tr>
<td><input class="input" type="submit" value="اضافة"></td>
<th></th>
</form>
</tr></table>

</center>

</body>
</html>

