<html>
<head>

<style>
body{
  background-color: silver;

}

.input{
  background-color: green;
  color: white;
  width: 100%;
  height: 50px;

}

h3{
  box-shadow: inset 5px 10px 5px #55555555;
}

</style>

<script>


</script>

</head>
<body>


<center>
<button style="background-color: tomato;" onclick="window.open('{{ url_for('report1_open')}}', '')">معلومات الطلاب المسجلين في النظام</button>
<button style="background-color: tomato;" onclick="window.open('{{ url_for('come_view')}}', '')">سجل الحضور</button>
<br>
<h3>حضور</h3>



<table border=1>

<form action="{{url_for('add_come')}}" method ="POST">

<tr>
<td>
<select name="class">
   <option value="A Class">A Class</option>
   <option value="B Class">B Class</option>
   <option value="C Class">C Class</option>
   <option value="D Class">D Class</option>
   <option value="E Class">E Class</option>
   <option value="F Class">F Class</option>
</select>
</td>
<th>الصف</th>
</tr><tr>
<td><input type="text" id="name" name="name"></td>
<th>اسم الطالب</th>
</tr><tr>

<td><input type="text" id="status" name="status" value="حاضر"></td>
<th>الحالة</th>
</tr><tr>
<td><input type="datetime-local" id="date" name="date"></td>
<th>التاريخ والوقت</th>
</tr><tr>
<td><input type="text" id="add_from" name="add_from"></td>
<th>اضافة من</th>
</tr><tr>
<td><input class="input" type="submit" value="اضافة"></td>
<th>تسجيل</th>
</form>
</tr></table>

</center>

</body>
</html>

