<html>
<head>

<style>
table{
  width: 50%;
  text-align: right;

}

td{
  width: 50%;
}







</style>
</head>



<body>
<center>


<center>
<table border=0><tr>
<td><h3>رصيد التسجيل</h3></td>
</tr><tr>
<td><img src={{ url_for('static', filename='img/png.png')}} width="330" height="120"></img></td>
</tr></table>

<br>

<table border=0>

{% for row in rows %}
<tr>
<td>R_RECEIPT_000{{row[0] }}</td>    <td class="td">رقم رصيد التسجيل</td>
</tr><tr>
<td>{{row[2] }}</td>    <td class="td">اسم الطالب ة</td>
</tr><tr>
<td>{{row[3] }}</td>    <td class="td">الرقم الشخصي</td>
</tr><tr>
<td>{{row[1] }}</td>    <td class="td">الصف</td>
</tr><tr>
<td>{{row[5] }}</td>    <td class="td">الهاتف</td>
</tr><tr>
<td>{{row[4] }}</td>    <td class="td">العنوان</td>
</tr><tr>
<td>{{row[7] }}</td>    <td class="td">المبلغ المدفوع</td>
</tr><tr>
<td>{{row[8] }}</td>    <td class="td">التاريخ</td>
</tr><tr>
<td>{{row[9] }}</td>    <td class="td">اصدار من</td>
</tr>
{% endfor %}

</table>


</center>
</body>
</html>

  