<html>
<head>

<style>
body{
  background-color: silver;

}

.input{
  background-color: green;
  color: white;
  width: 100%;
  height: 50px;

}

h3{
  box-shadow: inset 5px 10px 5px #55555555;
}

</style>

<script>


</script>

</head>
<body>

<center>

<h3>سجل الحظور</h3>



<table border=1>

<form action="{{url_for('add_come_abs_late')}}" method ="POST">

<tr>
<td>
<select name="class">
   <option value="A Class">A Class</option>
   <option value="B Class">B Class</option>
   <option value="C Class">C Class</option>
   <option value="D Class">D Class</option>
   <option value="E Class">E Class</option>
   <option value="F Class">F Class</option>
</select>
</td>
<th>الصف</th>
</tr><tr>
<td>

<form action="{{ url_for('search') }}" method ="POST">
<select name="name" id="name">
{% for name in names %}
<option value="{{ name }}"> {{ name }}</option>
{% endfor %}
</select>
</form>


</td>
<th>اسم الطالب</th>
</tr><tr>
<td>
<select name="status">
   <option value="come">حاضر</option>
   <option value="absent">غائب</option>
   <option value="late">متأخر</option>
</select>
</td>
<th>حاضر-غائب -متأخر</th>
</tr><tr>
<td><input type="datetime-local" id="date" name="date"></td>
<th>التاريخ والوقت</th>
</tr><tr>
<td>
<select name="add_from">
   <option value="Amal">Amal</option>
   <option value="Fatima">Fatima</option>
   <option value="Zahraa">Zahraa</option>
   <option value="Noor">Noor</option>
</select>
</td>
<th>اضافة من</th>
</tr><tr>
<td><input class="input" type="submit" value="تسجيل"></td>
<th>تسجيل</th>
</form>
</tr></table>

</center>

</body>
</html>

