<html>

<style>

body{
  background-color: silver;

}

h3{
  box-shadow:10px 10px 5px white;

}


th{
  width: 8%;
  background-color: lightblue;

}

td{
  text-align: center;

}


</style>

<body>

<center>

<h3>مجموع الفواتير الشهرية</h3>
<table border=1>
<tr>
<th>يناير</th>
<th>فبراير</th>
<th>مارس</th>
<th>ابريل</th>
<th>مايو</th>
<th>يونيو</th>
<th>يوليو</th>
<th>اغسطس</th>
<th>سبتمبر</th>
<th>اكتوبر</th>
<th>نوفمبر</th>
<th>ديسمبر</th>

</tr><tr>

<td>{{month1}}</td>
<td>{{month2}}</td>
<td>{{month3}}</td>
<td>{{month4}}</td>
<td>{{month5}}</td>
<td>{{month6}}</td>
<td>{{month7}}</td>
<td>{{month8}}</td>
<td>{{month9}}</td>
<td>{{month10}}</td>
<td>{{month11}}</td>
<td>{{month12}}</td>

</tr></table>

<h3>مجموع الرواتب الشهرية</h3>
<table border=1>
<tr>
<th>يناير</th>
<th>فبراير</th>
<th>مارس</th>
<th>ابريل</th>
<th>مايو</th>
<th>يونيو</th>
<th>يوليو</th>
<th>اغسطس</th>
<th>سبتمبر</th>
<th>اكتوبر</th>
<th>نوفمبر</th>
<th>ديسمبر</th>

</tr><tr>

<td>{{smonth1}}</td>
<td>{{smonth2}}</td>
<td>{{smonth3}}</td>
<td>{{smonth4}}</td>
<td>{{smonth5}}</td>
<td>{{smonth6}}</td>
<td>{{smonth7}}</td>
<td>{{smonth8}}</td>
<td>{{smonth9}}</td>
<td>{{smonth10}}</td>
<td>{{smonth11}}</td>
<td>{{smonth12}}</td>

</tr></table>

<h3>مجموع رسوم التسجيل</h3>
<table border=1>
<tr>
<th>يناير</th>
<th>فبراير</th>
<th>مارس</th>
<th>ابريل</th>
<th>مايو</th>
<th>يونيو</th>
<th>يوليو</th>
<th>اغسطس</th>
<th>سبتمبر</th>
<th>اكتوبر</th>
<th>نوفمبر</th>
<th>ديسمبر</th>

</tr><tr>

<td>{{rmonth1}}</td>
<td>{{rmonth2}}</td>
<td>{{rmonth3}}</td>
<td>{{rmonth4}}</td>
<td>{{rmonth5}}</td>
<td>{{rmonth6}}</td>
<td>{{rmonth7}}</td>
<td>{{rmonth8}}</td>
<td>{{rmonth9}}</td>
<td>{{rmonth10}}</td>
<td>{{rmonth11}}</td>
<td>{{rmonth12}}</td>

</tr></table>

<h3>مجموع الرسوم الشهرية</h3>
<table border=1>
<tr>
<th>يناير</th>
<th>فبراير</th>
<th>مارس</th>
<th>ابريل</th>
<th>مايو</th>
<th>يونيو</th>
<th>يوليو</th>
<th>اغسطس</th>
<th>سبتمبر</th>
<th>اكتوبر</th>
<th>نوفمبر</th>
<th>ديسمبر</th>

</tr><tr>

<td>{{imonth1}}</td>
<td>{{imonth2}}</td>
<td>{{imonth3}}</td>
<td>{{imonth4}}</td>
<td>{{imonth5}}</td>
<td>{{imonth6}}</td>
<td>{{imonth7}}</td>
<td>{{imonth8}}</td>
<td>{{imonth9}}</td>
<td>{{imonth10}}</td>
<td>{{imonth11}}</td>
<td>{{imonth12}}</td>

</tr></table>

</center>

</body>
</html>